<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <nav>
            <ul>
                <li>Willow Creek</li>
                <li><a href="/#Beer">Our Beer</a></li>
                <li><a href="/#Story">Our Story</a></li>
                <li><a href="/#Contact">Contact Us</a></li>
            </ul>
        </nav>        
        
        <div class="container">
            
            {{ content }}
            
        </div><!-- /.container -->
        <footer>
            <div id="lineStrike"></div>
                <p>
                Copyright © 2019 Mark Camlin, all rights reserved.
                </p>
                
                <p>
                All Rights Reserved.
                </p>
        </footer>
        
    </body>
</html>